body{
    background-color: rgb(50, 104, 255);
}

button.navbar-toggler{
    margin-left:auto;
}

div#modalStag{
    border-radius:3px;
    width:50%;
    min-height:30vh; 
    background-color: #ccc;
    position:absolute; 
    z-index:2500; 
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility:hidden; 
    opacity:0;
    transition: visibility .3s, opacity .3s;
}
div#modalStag>p.close{
    position:absolute; 
    top:0;
    right:0; 
    color:red; 
    padding:5px; 
    background-color: white;
    border-radius:3px;
}
div#modalStag>p.close:hover{
    cursor:pointer; 
    background-color: red;
    color:white;
}
.hide{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.8);
    
    z-index:2499; 
    position:absolute; 
}