section{

    &#main{
        background-color: red;
        min-height:50vh;
    }

    div.textlink{
        display:none;

        &.active{
            display:block;
        }
    }


    table.tbluserlist{
        border:1px solid #000;
        text-align:center;
        th{
            
        }
        td{
            border-bottom:1px dashed blue;
        }
    }

}
